.newsletter_code {
    background-color: inherit;
    border: 1px solid #D1D7DC;
    padding: 20px;
    width: 100%; 
}
.newsletter_subscribe_errmsg,
.newsletter_subscribe_ok {
    background-color: #FFAEAE;
    color: maroon;
    width: 100%;
    border: solid 4px gray;
    margin: 0 auto 0.5em;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.35);
    box-sizing: border-box;
}
.newsletter_subscribe_ok {
    background-color: #B0E57C; 
    color: #004000;
}
.newsletter_subscribe_ok p span.newsletter_name,
.newsletter_subscribe_errmsg p span.newsletter_name,
.newsletter_subscribe_errmsg p span.newsletter_abo_for,
.newsletter_subscribe_ok p span.newsletter_abo_for {
    font-weight: bold;
}
.newsleter_fieldset {
    padding: 10px;
}
.newsleter_legend {
    color: gray;
}
.newsletter_label {
    margin: 0;
    width: 150px;
    display: inline-block;
}
.newsletter_label:has(+ input[name^="news_page"]) {
    margin: 0.5em 1em 0 0;
    width: auto;
}
.newsletter_inputfield {
    margin: 0.2em 0;
    width: calc(100% - 160px);
    padding: 0.25em 0.5em !important;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 1em;
}
.newsletter_textarea {
    box-sizing: border-box;
    width: 100%;
    height: 320px;
    border: 1px solid #aaa;
    padding: 5px;
}
.newsletter_submit {
    height: 30px;
    width: 100%; 
    font-weight: bold;
    font-size: 1.1em;
    margin: 0.5em 0;
}
.newsleter_fieldset #err {
    color: red;
}
.newsleter_fieldset #err ~ #addel {
    box-sizing: border-box;
    font-family: inherit;
    margin: 0.2em 0;
    padding: 0.25em 0.5em;
    font-size: 1em;
}
.newsleter_noeyes {
    /*visibility: hidden;*/
    display: none;
}

/* Backend */
#newsletter-publish form[name="newsmail"] input:not(form[name="newsmail"] input[type="checkbox"]),
#newsletter-publish form[name="newsmail"] select {
    height: 30px;
    margin: 0.5em 0 0;
    padding: 0 0.5em;
    width: 100%;
}
#newsletter-publish form[name="newsmail"] input.submit {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0.5em 0 !important;
}
#newsletter-publish form[name="newsmail"] table,
#newsletter-publish form[name="newsmail"] ~ table {
    width: 100%;
}
#newsletter-publish form[name="newsmail"] table *,
#newsletter-publish form[name="newsmail"] ~ table * {
    box-sizing: border-box;
}
#newsletter-publish form[name="newsmail"] table tr td:nth-of-type(1) {
    width: 200px;
}
#newsletter-publish form[name="newsmail"] table tr td:nth-of-type(2) {
    width: calc(100% - 200px);
}
#newsletter-publish fieldset:has(legend ~ img) {
    padding: 0.5em 0.5em 1em;
}
#newsletter-publish fieldset legend ~ img {
    padding: 0 0.25em 0 0;
    vertical-align: middle;
}
#newsletter-publish img.helpicon {
    vertical-align: middle;
}
#newsletter-publish .newsletter_selected svg,
#newsletter-publish .newsletter_selected img {
    padding: 0 0.25em 0.25em 0;
    vertical-align: middle;
    width: 16px;
    height: auto;
}
