<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Newsletter</title>
</head>
<body>
    <h1>Newsletter von (your logo)</h1>
    <hr>
    <p>Haben Sie Probleme beim Lesen dieses Newsletters: {NOT_READABLE}, um ihn in Ihrem Browser zu lesen.</p>
    <h2>Hallo {TEXTFIELD_1} {TEXTFIELD_2} {TEXTFIELD_3}</h2>
    <div>{CONTENT}</div>
    <p>Mit freundlichen Grüßen<br>Ihre Unterschrift</p>
    <p>Sie können nicht auf diese E-Mail antworten.</p>
    <p>Klicken Sie hier zum {UNSUBSCRIBE}.</p>
</body>
</html>
