<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Newsletter</title>
</head>
<body>
    <h1>Newsletter from (your logo)</h1>
    <hr>
    <p>Having trouble reading this newsletter?: {NOT_READABLE} to read it in your browser.</p>
    <h2>Dear {TEXTFIELD_1} {TEXTFIELD_2} {TEXTFIELD_3}</h2>
    <p>{CONTENT}</p>
    <p>Regards<br>your signature</p>
    <p>You can not reply to this email.</p>
    <p>Click her to {UNSUBSCRIBE}.</p>
</body>
</html>
